# compiled python files
*.pyc

# latex files
*.aux
*.tex
*.log
*.pdf

#build and dist files
build/*
dist/*

#exe file (setup)
*.exe

# allow TeX files in template directory
!template/*.tex

# allow PDF in document directory
!doc/*.pdf
